body {
    background:linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial' , sans-serif;
}

#todo-input {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    border: solid 1px #ddd;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#todo-input:focus {
    outline: none;
    border-color: rgb(124, 8, 95);
}

#input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    background-color: orange;
    transition: background-color 300ms ease 0s , transform 100ms ease;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background-color: darkgoldenrod;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0); 
}

button img {
    height: auto;
    width: 30px;
}

.main {
    background-color: #ffffff;
    padding: 30px 60px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    width: 30%;
    height: 75%;

}
#no-content p {
    font-size: 18px;
    color: black;
    font-style: italic;
    text-align: center;
}
#no-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;

}

.checked {
    text-decoration: line-through;
    color: rgb(186, 186, 186);
    background-color: #e8e8e8;
    border-radius: 10px;
}

svg {
    color: black;
    height: 20px;
    width: auto;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin:10px 0;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
li:hover {
    background-color: #f0f0f0;
}

li label {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 70%;
    overflow: hidden;
}

li p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

ul {
    display: block;
    padding-inline-start: 0;
}

#content-container {
    height: 70%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.delete {
    background-color: transparent;
}